{% extends 'base.html.twig' %}
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
    <header id="header">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="header_top">
                    <div class="header_top_left">
                        <ul class="top_nav">
                            <li><a href="../index.html">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="header_top_right">
                        <p>Fantasy Premier League 2016/2017</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="header_bottom">

                        <div><a href="#"><img src="../images/cover.jpg" alt="" height="420" width="1080"></a></div>
                    </div>
                </div>
            </div>
    </header>
    <section id="navArea">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav main_nav">
                    <li class="active"><a href="../index.html"><span class="fa fa-home desktop-home"></span><span
                            class="mobile-show">Home</span></a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                            aria-expanded="false">FPL Updates & Tips Exclusive </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Captain Choice</a></li>
                            <li><a href="#">TOP 4 Players To Watch</a></li>
                            <li><a href="#">TOP 3 Differentials</a></li>
                            <li><a href="#">Gamewwek Top Facts & Stats</a></li>
                        </ul>
                    </li>

                    <li><a href="pages/pricechanges.html">Pre-Season</a></li>
                    <li><a href="pages/injuryupdates.html">Injury Updates</a></li>
                    <li><a href="pages/cleansheets.html">FPL Clean Sheets</a></li>
                    <li><a href="pages/lineups.html">EPL Teams Current Lineups</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                            aria-expanded="false">Join Our Leagues </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="https://goo.gl/KTBFt8">Join Our Private League</a></li>
                            <li><a href="https://goo.gl/URVqv9">Join Our Head to Head League</a></li>
                        </ul>
            </div>
        </nav>
    </section>
    <section id="newsSection">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="latest_newsarea"><span>FPL Latest News</span>
                    <ul id="ticker01" class="news_sticker">
                        <li><a href="#"><img src="../images/news_thumbnail2.png" alt="">Double GWs for Crystal Palace,
                            Man Utd and Middlesbrough</a></li>
                        <li><a href="#"><img src="../images/news_thumbnail2.png" alt="">Alli & King Are Rising In Price
                            Tonight</a></li>
                        <li><a href="#"><img src="../images/news_thumbnail2.png" alt="">International break ahead</a>
                        </li>
                        <li><a href="#"><img src="../images/news_thumbnail2.png" alt="">58,872 #FPL bosses brought in
                            Valencia ahead of GW29</a></li>
                        <li><a href="#"><img src="../images/news_thumbnail2.png" alt="">UPDATE : Boro assist awarded to
                            De Roon.</a></li>
                        <li><a href="#"><img src="../images/news_thumbnail2.png" alt="">early signs suggest Costa will
                            top #FPL sales charts in GW30</a></li>
                        <li><a href="#"><img src="../images/news_thumbnail2.png" alt="">1.1 million+ #FPL bosses await
                            news on Alexis Sanchez's injury</a></li>
                        <li><a href="#"><img src="../images/news_thumbnail2.png" alt="">With no fixture in GW34, the 1.4
                            million who own #FPL favourite McAuley will be considering their options</a></li>
                        <li><a href="#"><img src="../images/news_thumbnail2.png" alt="">ManUtd's Double GW34 is set to
                            revive interest in Ibrahimovic - owned by 1.1 million #FPL bosses, he was once in 2.4
                            million+ squads</a></li>
                    </ul>
                    <div class="social_area">
                        <ul class="social_nav">
                            <li class="facebook"><a href="https://www.facebook.com/FPL.Updates.Tips/"></a></li>
                            <li class="twitter"><a href="https://twitter.com/FPLUpdates_Tips"></a></li>
                            <li class="flickr"><a href="#"></a></li>
                            <li class="pinterest"><a href="#"></a></li>
                            <li class="googleplus"><a href="#"></a></li>
                            <li class="vimeo"><a href="#"></a></li>
                            <li class="youtube"><a href="#"></a></li>
                            <li class="mail"><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contentSection">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="left_content">
                    <div class="single_page">
                        <ol class="breadcrumb">
                            <li><a href="../index.html">Home</a></li>
                            <li><a href="#">FPL Updates & Tips Exclusive</a></li>
                            <li class="active">Captain Choice</li>
                        </ol>
                        <h1>Gameweek 29, @FPLUpdates_Tips Captain Choice </h1>
                        <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i>Admin #H17</a> <span><i
                                class="fa fa-calendar"></i>6:49 AM</span> <a href="#"><i class="fa fa-tags"></i>Captain
                            Choice</a></div>
                        <div><img src="../images/gw28.jpg" alt="" height="420" width="700">
                            <p>Gameweek 29, @FPLUpdates_Tips Captain Choice :</p>
                            <blockquote> 1st Choice : Romelu Lukaku vs HUL H 2nd Choice : Alexis Sanchez vs WBA A 3rd
                                Choice : Son vs SOU H
                            </blockquote>
                        </div>

                    </div>

                    <footer id="footer">
                        <div class="footer_top">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="footer_widget wow fadeInLeftBig">
                                        <h2>Flickr Images</h2>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="footer_widget wow fadeInDown">
                                        <h2>Tag</h2>
                                        <ul class="tag_nav">
                                            <li><a href="#">Games</a></li>
                                            <li><a href="#">Sports</a></li>
                                            <li><a href="#">Fashion</a></li>
                                            <li><a href="#">Business</a></li>
                                            <li><a href="#">Life &amp; Style</a></li>
                                            <li><a href="#">Technology</a></li>
                                            <li><a href="#">Photo</a></li>
                                            <li><a href="#">Slider</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="footer_widget wow fadeInRightBig">
                                        <h2>Contact</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit
                                            amet, consectetur adipisicing elit.</p>
                                        <address>
                                            Perfect News,1238 S . 123 St.Suite 25 Town City 3333,USA Phone: 123-326-789
                                            Fax: 123-546-567
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer_bottom">
                            <p class="copyright">Copyright &copy; 2045 <a href="../index.html">NewsFeed</a></p>
                            <p class="developer">Developed By Wpfreeware</p>
                        </div>
                    </footer>
                </div>
                <script src="../assets/js/jquery.min.js"></script>
                <script src="../assets/js/wow.min.js"></script>
                <script src="../assets/js/bootstrap.min.js"></script>
                <script src="../assets/js/slick.min.js"></script>
                <script src="../assets/js/jquery.li-scroller.1.0.js"></script>
                <script src="../assets/js/jquery.newsTicker.min.js"></script>
                <script src="../assets/js/jquery.fancybox.pack.js"></script>
                <script src="../assets/js/custom.js"></script>
                </body>
                </html>